$primary-blue: #07295F;
$secondary-blue: #2d9124;
$background-blue: #152F4F;
$hover-blue: #4180CB;
$background-white: #F3EFF5;

body{
    color: $primary-blue;
    
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: $secondary-blue !important;
        border: none;
        font-weight: 500;
    }

    .container{
        border-radius: 30px;
        background-color: $background-white;
        .container{
            background-color: $hover-blue;
        }
    }
    

}



